.places {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  gap: 80px;
  padding-top: 92px;
  padding-bottom: 92px;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .places {
    padding-bottom: 85px;
  }
}



@media screen and (max-width: 768px) {
  .places {
    gap: 73px;
    padding-top: 77px;
    padding-bottom: 101px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    gap: 50px;
    padding-top: 64px;
    padding-bottom: 66px;
  }
}
