.cover {
  margin: 0 auto;
  max-width: 1184px;
  max-height: 740px;
  width: 100vw;
  height: 62.5vw;
  background: url(../../images/cover-trains.jpg) no-repeat center center;
  background-size: cover;
}
